<header>
    <div class="navbar navbar-dark bg-light  shadow-sm">
        <div class="navbar-brand align-items-center d-flex">
            <i style="font-size: 42px;color: black;margin-left: 62px;margin-top: 8px;"class="fas fa-shipping-fast"></i>
           &nbsp; &nbsp; <strong style="color: black;font-size: 45px;">Ecommerce</strong>
        </div>  
        
        <button class="btn btn-light">
         <i style="font-size:45px;" routerLink="/cart" class="fas fa-cart-plus"></i>
         <div style="font-size:10px" class="badge bg-dark">{{totalitem}}</div>
        </button>
    </div> 
</header>
